<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yezi.office.mapper.BulletinMapper">

    <update id="approve">
        update office_bulletin
        set bulletin_isActive = #{isActive}
        where bulletin_id = #{bulletinId}
    </update>

</mapper>
